<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas / Node JS</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    
    <div class="tarefas">
        <form method="post">
            <input type="text" name="tarefa" />
            <input type="submit" name="acao" value="inserir">
        </form>
        <% for(let i = 0; i < tarefasList.length; i++){ %>
            <p><%= tarefasList[i] %> | <a href="/deleter/<%= i %>">X</a></p>
        <%} %>
    </div>
</body>
</html>